.wrapper{
            width: 650px;
            margin: 0 auto;
        }
        .page-header h2{
            margin-top: 0;
        }
        table tr td:last-child a{
            margin-right: 15px;
        }
        span.fa.fa-eye {
            margin-right: 10px;
        }

        span.fa.fa-pencil {
            margin-right: 10px;
        }